h1 {
    color: white;
    font-size: 40px;
    line-height: 40px;
    font-weight: bold;
}

p {
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 35px;
    color: white
}

body {
    background-color: #222222;
}

.link1 {
    color: white;
    font-size: 35px;
    line-height: 35px;
    list-style-type: none;
    margin: 0 10px 0 10px;
}